html {
  background-color: #CCCCCC;
}

body {
  background-color: #EEEEEE;
  border: solid 2px black;
  font: 14px Verdana, arial, serif;
  margin: 50px auto 25px;
  max-width: 800px;
}

h1 {
  color: #002147;
  font-size: 4em;
}

a {
  color: #00B7FF;
}
